# Ignore build results
bin/
obj/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore Visual Studio Code settings
.vscode/

# Ignore NuGet packages
*.nupkg
*.snupkg
packages/
*.nuspec

# Ignore logs and temporary files
*.log
*.tmp

# Ignore environment files
.env

# Ignore Rider IDE files
.idea/

# Ignore Mac system files
.DS_Store